<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="{33D64687-0C43-490B-9E83-2A54A68C6AEE}" Name="mobie(r) Power Query Connector" Language="1033" Version="1.0.3.0" Manufacturer="ReportsNow" UpgradeCode="05a72c58-25fe-4244-aff3-d3a81fde6569">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="Connector.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="mobie(r) Power Query Connector" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="PersonalFolder">
        <Directory Id="PowerBIDesktop" Name="Power BI Desktop">
          <Directory Id="INSTALLFOLDER" Name="Custom Connectors">
            <Component Id="mobie.pqx" Guid="{E7305A4F-D395-4F55-9B66-AB9BEFA02CB8}">
              <File Id="mobie.pqx" Name="mobie.pqx" KeyPath="no" Source="$(var.mobie.TargetDir)mobie.pqx" />
              <RegistryKey Root="HKCU"
                           Key="Software\ReportsNow">
                <RegistryValue Type="string" Name="mobieConnector" Value="Installed" KeyPath="yes"/>
              </RegistryKey>
            </Component>
          </Directory>
				</Directory>
      </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<ComponentRef Id="mobie.pqx" />
    </ComponentGroup>
  </Fragment>
</Wix>
